@page "/weather"
@using PlayedOff.Api
@using PlayedOff.Api.Client
@using PlayedOff.Domain.Dto

<PageTitle>Weather</PageTitle>

@if (user != null)
{
    <p>@user.UserId</p>
    <p>@user.DisplayName</p>
}

@code {
    [Inject] public AuthenticationStateProvider AuthenticationStateProvider { get; set; } = null!;
    [Inject] public IProfileClient ProfileClient { get; set; } = null!;

    private User? user = null;

    protected override async Task OnParametersSetAsync()
    {
        user = await ProfileClient.GetAsync();

        // oid is the claim we want for a unique identifier
        var x = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}
